<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_SIAKAD_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=;password=;initial catalog=SIAKAD;Persist Security Info=true" />
        <add name="localhost_SIAKAD_Connection New" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=deva1234;initial catalog=SIAKAD;Persist Security Info=true" />
        <add name="new" connectionString="XpoProvider=MSSqlServer;data source=localhost;user id=sa;password=deva1234;initial catalog=SIAKAD;Persist Security Info=true" />
    </connectionStrings>
</configuration>