@page "/"
@using SampleMauiBlazor.Data
@using SampleMauiBlazor.Reports
@using SampleMauiBlazor.Services
@inject IJSRuntime _IJSRuntime
@inject WeatherForecastService ForecastService
@inject NavigationManager _NavigationManager
@inject IPrintingService PrintingService
<h1>Hello, world!</h1>
 <button @onclick="@(_ => PrintingService.Print("myFaktur", PrintType.Html))">
            Print
        </button>

<LaporamPenawaran/>


@code {
    private WeatherForecast[] forecasts;
    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
    public async void Print()
    {
        await _IJSRuntime.InvokeVoidAsync("myFaktur");
         _NavigationManager.NavigateTo("/");
    }
}
